# Nextcloud
NC_MYSQL_ROOT_PASSWORD=
NC_MYSQL_PASSWORD=
NC_ADMIN_USER=
NC_ADMIN_PASSWORD=
NC_TRUSTED_DOMAINS=localhost

# Pi-hole
PIHOLE_WEBPASSWORD=

# Immich
IMMICH_DB_PASSWORD=

# Network
SERVER_LOCAL_IP=
SERVER_TAILSCALE_IP=
